In [74]:
import pandas as pd

df = pd.read_json("carreras_san_silvestre.json")

df.head()

,runner_name,finish_time,age_group,gender,race_date,location,race_distance
0,FERNANDO LOPEZ MARTINEZ,2026-02-10 00:23:25,VTAM,M,2018,A Coruña,6750 m
1,PABLO LEMA PEREZ,2026-02-10 00:23:20,VTCM,M,2018,A Coruña,6750 m
2,ROI BARROS CORRAL,2026-02-10 00:23:16,VTAM,M,2018,A Coruña,6750 m
3,JOSE ANTONIO ABUIN TREUS,2026-02-10 00:23:13,VTBM,M,2018,A Coruña,6750 m
4,SERGIO RODRIGUEZ QUINTANA,2026-02-10 00:23:09,SNM,M,2018,A Coruña,6750 m

In [80]:
import pandas as pd
import os
os.getcwd()

'/home/paula/RaceAnalytics/proyecto_sansilvestre/proyecto_sansilvestre'

In [81]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26031 entries, 0 to 26030
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   runner_name    26031 non-null  object
 1   finish_time    26031 non-null  timedelta64[ns]
 2   age_group      26031 non-null  object
 3   gender         26016 non-null  object
 4   race_date      26031 non-null  int64
 5   location       26031 non-null  object
 6   race_distance  26031 non-null  object
dtypes: int64(1), object(5), timedelta64[ns](1)
memory usage: 1.4+ MB

,runner_name,finish_time,age_group,gender,race_date,location,race_distance
0,FERNANDO LOPEZ MARTINEZ,0 days 00:23:25,VTAM,M,2018,A Coruña,6750 m
1,PABLO LEMA PEREZ,0 days 00:23:20,VTCM,M,2018,A Coruña,6750 m
2,ROI BARROS CORRAL,0 days 00:23:16,VTAM,M,2018,A Coruña,6750 m
3,JOSE ANTONIO ABUIN TREUS,0 days 00:23:13,VTBM,M,2018,A Coruña,6750 m
4,SERGIO RODRIGUEZ QUINTANA,0 days 00:23:09,SNM,M,2018,A Coruña,6750 m

# Convertir tiempos a segundos

In [87]:
df["finish_seconds"] = df["finish_time"].dt.total_seconds()

df["year"] = df["race_date"]

In [89]:
df[["finish_time", "finish_seconds"]].head()

      finish_time  finish_seconds
0 0 days 00:23:25          1405.0
1 0 days 00:23:20          1400.0
2 0 days 00:23:16          1396.0
3 0 days 00:23:13          1393.0
4 0 days 00:23:09          1389.0

# Performance Metrics

Average finish times by age group

In [96]:
avg_time_by_age = df.groupby("age_group")["finish_seconds"].mean()
avg_time_by_age

age_group
DINTF     4524.600000
DINTM     3187.333333
DVISF     3760.666667
DVISM     2691.133333
JV1F      3157.450142
JV1M      2624.347068
JV2F      3092.757919
JV2M      2400.940867
NO        3296.062500
SILLAF    2972.800000
SILLAM    2790.555556
SNF       3048.397756
SNM       2523.495283
VTAF      3065.567868
VTAM      2513.485371
VTBF      3154.238781
VTBM      2597.753454
VTCF      3331.397698
VTCM      2704.354374
VTDF      3781.105691
VTDM      2902.917226
Name: finish_seconds, dtype: float64

Average finish times by gender

In [97]:
avg_time_by_gender = df.groupby("gender")["finish_seconds"].mean()
avg_time_by_gender

gender
F    3120.434174
M    2574.227982
Name: finish_seconds, dtype: float64

# Trend Analysis

In [64]:
# Extraer el año
df["year"] = pd.to_datetime(df["race_date"]).dt.year

Participation evolution over the years

In [98]:
participants_by_year = df.groupby("year").size()
participants_by_year

year
2018    3801
2019    4064
2021    2610
2023    5817
2024    4373
2025    5366
dtype: int64

Male/female participation trends

In [102]:
gender_participation  = df.groupby(["year", "gender"]).size().unstack()
gender_participation

gender     F     M
year
2018    1322  2479
2019    1448  2616
2021     941  1667
2023    2141  3671
2024    1738  2634
2025    2201  3158

Evolution of mean and median times

In [103]:
mean_median_by_year = df.groupby("year")["finish_seconds"].agg(["mean", "median"])
print(mean_median_by_year)

             mean  median
year
2018  2483.670350  2486.0
2019  2759.439222  2753.0
2021  2562.664368  2505.0
2023  2716.662369  2629.0
2024  2982.065401  2883.0
2025  3015.156168  2905.0

Minimum and maximum times over the years

In [104]:
min_max_by_year = df.groupby("year")["finish_seconds"].agg(["min", "max"])
print(min_max_by_year)

         min     max
year
2018  1254.0  4693.0
2019  1311.0  5112.0
2021  1302.0  4991.0
2023  1260.0  5678.0
2024  1344.0  5918.0
2025  1387.0  6197.0

# Top Performers

Identify top performers by average time across all races they participated in

In [106]:
top_runners = (
    df.groupby("runner_name")["finish_seconds"]
    .mean()
    .sort_values()
    .head(10)
)

top_runners

runner_name
ABDELAZIZ FATIHI CHHIMA        1286.0
ALBERTO MORIS VIEITES          1298.0
ALBERTO CASTIÑEIRA FIGUEROA    1302.0
NASR BOUCHAIB                  1302.0
ANXO CASTRO VARELA             1302.0
NICOLÁS PABLO GENS LÓPEZ       1304.0
FERNANDO DÍEZ GOMEZ            1311.0
IAGO JOPIA ASTRAY              1313.0
LUIS PÉREZ VARELA              1327.0
PABLO BOCELO BELLAS            1331.2
Name: finish_seconds, dtype: float64

# Deliverables

Summary report

En esta fase del proyecto ("Data Analytics") se analizaron los datos de la carrera San Silvestre con el objetivo de extraer información relevante sobre el rendimiento de los participantes y la evolución del evento a lo largo del tiempo. 

El análisis de los tiempos medios por grupos de edad muestra diferencias claras entre categorías. Los grupos juveniles y senior masculinos presentan los mejores tiempos, mientras que las categorías de mayor edad o con limitaciones físicas registran tiempos más elevados, siguiendo patrones esperables en pruebas populares. Por género, los participantes masculinos presentan, de media, tiempos de finalización inferiores a los femeninos.

En cuanto a la evolución temporal, la participación aumenta entre 2018 y 2019, desciende notablemente en 2021 (probablemente como consecuencia de la pandemia) y se recupera con fuerza a partir de 2023, alcanzando los valores más altos del periodo analizado. Aunque la participación masculina es mayor en todos los años, la participación femenina muestra una tendencia creciente, lo que indica una progresiva reducción de la brecha de género.

El estudio de los tiempos de finalización revela un incremento gradual de la media y la mediana a lo largo de los años, acompañado de una estabilidad en los tiempos mínimos y un aumento progresivo de los tiempos máximos. Esto sugiere que, aunque el nivel de los corredores más rápidos se mantiene constante, el evento ha incorporado un mayor número de participantes recreativos.

Finalmente, se identificaron los corredores con mejor rendimiento a partir de su tiempo medio en todas las carreras disputadas, destacando la regularidad como un factor clave del alto rendimiento. En conjunto, el análisis confirma que la San Silvestre es una prueba en crecimiento, cada vez más inclusiva, y con patrones de rendimiento coherentes con el perfil de sus participantes.